name: sample workflow
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Run a one-line script
      run: echo Hello, world!
  paralleljobs:
    runs-on: macos-latest
    needs: build
    steps:

    - name: view Version
      run: sw_vers
    - name: Run a one-line script on mac
      run: echo "Hello, world! on mac"
    